<form action="/favourite-list" method="POST">
  <button type="submit"  class="mt-4 w-50 p-2 bg-red-500 text-white py-2 rounded-lg hover:bg-red-600 transition-colors duration-300">Add to Favourite</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>