<%- include('../partials/head') %>


  <body>
    <%- include('../partials/nav') %>
      <main class="flex justify-center items-center h-[70vh] bg-[#fefefe] p-0 font-sans">
        <div class="text-center">
          <h2 class="text-[72px] text-red-500 font-bold mb-5">Bookings</h2>
          <p class="text-[24px] text-gray-700 mb-7">My Booking will appear here</p>
        </div>
      </main>
  </body>

  </html>