<%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>
      <main class="flex justify-center items-center h-[70vh] bg-[#fefefe] p-0 font-sans">
        <div class="text-center">
          <h2 class="text-[72px] text-red-500 font-bold mb-5">404</h2>
          <p class="text-[24px] text-gray-700 mb-7">Oops! Page Not Found</p>
          <a href="/"
            class="bg-red-500 text-white py-2 px-6 rounded-lg no-underline transition-colors duration-300 hover:bg-red-600">
            Go Back Home
          </a>
        </div>
      </main>
  </body>

  </html>